@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@300&family=Roboto:wght@100;300;400;500;700;900&family=Smooch&family=Whisper&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/pexels-tima-miroshnichenko-7567529.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden; */
     
}
.body{
    /* font-family: 'Roboto', sans-serif; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/pexels-tima-miroshnichenko-7567529.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
     
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
}
.home .homeGt h1{
    font-weight: 900;
    color: white;
}
.home .homeGt p{
    color: white;
}
.aboutBlurSection{
    background-color:rgba(0, 0, 0, .6);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
     /* backdrop-filter: blur(8px); */
    /* filter: blur(10px);/* */
    box-shadow: 0 0 30px rgba(0, 0, 78, 0.4);
    
}
.aboutBlurSection h1{
    font-weight: 900;
    color: #fff;
    z-index: 484844;
}
.attributeSection .iconContainer i{
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 78, 0.4);
}
@media screen and (max-width: 768px){
    .attributeSection .iconContainer h4{
        font-size: 14px;
    }
    .attributeSection .iconContainer p{
        font-size: 12px;
    }
}