@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@300&family=Roboto:wght@100;300;400;500;700;900&family=Smooch&family=Whisper&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/but.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
}
.home .homeGt h1{
    font-weight: 900;
    color: white;
}
.home .homeGt p{
    color: white;
}
@media screen and (max-width: 768px){
    .homeGt{
    }
}