@media screen and (max-width: 400px) {
    .home-container{
        padding: 25% 5%;
    }
    .home-container .home-text h4{
        font-size: .8rem;
    }
    .home-container .home-text h1{
        font-size: 1.2rem;
    }
    .home-container .home-text p{
        font-size: 1.2rem;
    }
    .home-container .home-text p a{
        font-weight: 400;
    }
    .unmatched-container .unmatched-content > h1{
        font-size: .8rem;
        width: 60%;
    }
    .unmatched-container .unmatched-content > p{
        font-size: .8rem;
    }
    .unmatched-content .unmatched-items{
        gap: 15px;
    }
    .trust-container .trust-company{
        gap: 8px;
    }
    .service-container h1{
        font-size: 1.2rem;
    }
    .get-featured-container h1{
        font-size: 1.2rem;
    }
    .get-featured-content .get-featured-item p{
        font-size: .8rem;
    }
    .influencer-content .influencer-text h1{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 768px) {
    .header-container .nav-menu, .header-container .get-start{
        display: none;
    }
    .mobile-nav-btn{
        display: flex;
    }
    .home-container{
        padding: 25% 5%;
        flex-direction: column;
        align-items: flex-start;
    }
    .home-container .home-text{
        row-gap: 20px;
    }
    .home-container .home-text h4{
        font-size: 1rem;
    }
    .home-container .home-text h1{
        font-size: 1.5rem;
    }
    .home-container .home-text p{
        font-size: 1.5rem;
    }
    .home-container .home-text p a{
        font-weight: 400;
    }
    .home-container .home-img{
        display: none;
    }
    .unmatched-container .unmatched-content h1{
        font-size: 1.5rem;
        width: 60%;
        margin: 0 auto;
    }
    .unmatched-container .unmatched-content > p{
        font-size: .8rem;
    }
    .unmatched-content .unmatched-items{
        grid-template-columns: auto;
        gap: 20px;
    }
    .trust-container{
        flex-direction: column;
        width: 100%;
    }
    .trust-container .trust-company{
        grid-template-columns: auto auto;
        gap: 10px;
        width: 80%;
        margin: 0 auto;
    }
    .service-container h1{
        font-size: 1.5rem;
        width: 80%;
        margin: 0 auto;
    }
    .service-container .service-content{
        grid-template-columns: auto auto;
        /* width: 200%; */
        padding: 0 10%;
    }
    .get-featured-container h1{
        font-size: 1.5rem;
        width: 70%;
        margin: 0 auto;
    }
    .get-featured-content{
        flex-direction: column;
    }
    .get-featured-content .get-featured-item p{
        font-size: .8rem;
    }
    .influencer-content{
        flex-direction: column-reverse;
    }
    .influencer-content .influencer-text{
        width: 100%;
    }
    .influencer-content .influencer-text h1{
        font-size: 1.5rem;
    }
    .review-container{
        flex-direction: column;
    }
    .review-container .review-content .review-text p{
        font-size: 1.2rem;
    }
    .footer-content{
        border: 2px solid green;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-content .footer-contact{
        width: 100%;
    }
    .mobile-nav{
        height: 100vh;
        z-index: 73737;
        /* background-color: rgb(12, 12, 54); */
        background-color: #fff;
        position: absolute;
        width: 50%;
        left: -100%;
        transition: .33s ease;
        display: block;
        right: 0;
        top: 0;
        overflow-y: hidden;
        color: #eee;
    }
    .mobile-nav.active{
        left: 0;
    }
    body.active{
        height: 100vh;
    }
}