@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@300&family=Roboto:wght@100;300;400;500;700;900&family=Smooch&family=Whisper&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    outline: 0;
    border: 0;
    /* overflow: hidden; */
}

body{
    font-family: 'Roboto', sans-serif;   
    overflow-x: hidden;
}
.main-container{
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 0 30px #ee4;
}
.header-container .logo{
    width: 150px;
}
.header-container .logo img{
    width: 100%;
}
.header-container .nav-menu p{
    display: inline-block;
    padding: 0.5rem 1rem;
}
.header-container .nav-menu p a{
    color: #888;
    text-decoration: none;
    transition: .78s ease;
    text-shadow: 0 0 30px #c9c;
}
.header-container .nav-menu p:hover a{
    color: #333;
}
.header-container .get-start p{
    padding: 0.5rem 1rem;
    background-color: #091a66;
    border-radius: 5px;
    box-shadow: 0 0 30px #ccc;
}
.header-container .get-start p a{
    color: #fff;
    text-decoration: none;
}
.home-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #091a66;
}
.home-container .home-text{
    display: grid;
    gap: 10px;
    color: #fff;
}
.home-container .home-text h4{
    font-size: .8rem;
    font-weight: 300;
    color: red;
}
.home-container .home-text h1{
    font-size: 2.5rem;
    color: #eee;
}
.home-container .home-text h1 span{
    color: #ccc;
}
.home-container .home-text p{
    font-size: 2rem;
    font-weight: 100;
    color: #ccc;
}
.home-container .home-text p a{
    color: rgb(218, 163, 13);
}
.home-container .home-img img{
    width: 100%;
}
.unmatched-container{
    padding: 3% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.unmatched-container .unmatched-content h1{
    text-align: center;
    color: #888;
}
.unmatched-container .unmatched-content h1 span{
    color: #091a66;
    font-weight: 900;
}
.unmatched-container .unmatched-content > p{
    text-align: center;
    color: #ee4;
}
.unmatched-content .unmatched-items{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #333;
    padding: 3% 0;
}
.unmatched-content .unmatched-items .unmatched-item{
    display: grid;
    gap: 10px;
}
.unmatched-content .unmatched-items .unmatched-item p i{
    color: #091a66;
    font-size: 3rem;
}
.num-clients{
    background: linear-gradient(rgba(5, 4, 17, 0.966), rgb(15, 9, 99));
    width: 100%;
    border: 2px solid #fff;
    padding: 7% 5%;
}
.num-items h4, .num-items p{
    color: #fff;
}
.trust-container {
    width: 100%;
    padding: 3% 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trust-container h1{
    color: #888;    
    text-align: center;
    padding: 2rem;
}
.trust-container h1 span{
    color: #091a66;
    font-weight: 900;
}
.trust-container .trust-company{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}