@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@300&family=Roboto:wght@100;300;400;500;700;900&family=Smooch&family=Whisper&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    outline: 0;
    border: 0;
}

body{
    font-family: 'Roboto', sans-serif;   
    overflow-x: hidden;
}
body .headerContainer #headerContainer{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.headerContainer nav #navIcon{
    color: white;
    background-color: #fff;
    padding: 3px 5px;
}
.body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/images/working-man.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden; 
    width: 100%;
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
}
.home .homeGt h1{
    font-weight: 900;
    color: white;
}
.home .homeGt p{
    color: white;
}
.aboutBlurSection{
    background-color:rgba(0, 0, 0, .6);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
     /* backdrop-filter: blur(8px); */
    /* filter: blur(10px);/* */
    box-shadow: 0 0 30px rgba(0, 0, 78, 0.4);
    
}
.aboutBlurSection h1{
    font-weight: 900;
    color: #fff;
    z-index: 484844;
}
.attributeSection .iconContainer i{
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 78, 0.4);
}
.serviceSection .container > h1{
    font-weight: 900;
    color: #fff;
    z-index: 484844;
    text-align: center;
}
.serviceSection .serviceBody h1{
    font-size: 16px;
    padding-top: calc(10px + 0.25vmin);
}
.serviceSection .serviceBody p{
    font-size: 14px;
}
.headerContainer, .body, .serviceSection {
    overflow: hidden;
}
@media screen and (max-width: 768px){
    body .headerContainer #headerCont
    .attributeSection .iconContainer h4{
        font-size: 14px;
    }
    .attributeSection .iconContainer p{
        font-size: 12px;
    }
}