@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@300&family=Roboto:wght@100;300;400;500;700;900&family=Smooch&family=Whisper&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    outline: 0;
    border: 0;
    /* overflow: hidden; */
}

body{
    font-family: 'Roboto', sans-serif;   
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.main-container{
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 0 30px #ee4;
}
.header-container .logo{
    width: 150px;
}
.header-container .logo img{
    width: 100%;
}
.header-container .nav-menu p{
    display: inline-block;
    padding: 0.5rem 1rem;
}
.header-container .nav-menu p a{
    color: #888;
    text-decoration: none;
    transition: .78s ease;
    text-shadow: 0 0 30px #c9c;
}
.header-container .nav-menu p:hover a{
    color: #333;
}
.header-container .get-start p{
    padding: 0.5rem 1rem;
    background-color: #493740;
    border-radius: 5px;
    box-shadow: 0 0 30px #ccc;
}
.header-container .get-start p a{
    color: #fff;
    text-decoration: none;
}
.home-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #493740;
}
.home-container .home-text{
    display: grid;
    gap: 10px;
    color: #fff;
}
.home-container .home-text h4{
    font-size: 1rem;
    font-weight: 300;
    color: rgb(218, 163, 13);
}
.home-container .home-text h1{
    font-size: 2.5rem;
    color: #eee;
}
.home-container .home-text h1 span{
    color: #ccc;
}
.home-container .home-text p{
    font-size: 2rem;
    font-weight: 100;
    color: #ccc;
}
.home-container .home-text p a{
    font-weight: 900;
    color: #d97d28;
}
.home-container .home-img img{
    width: 100%;
}
.unmatched-container{
    padding: 3% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.unmatched-container .unmatched-content h1{
    text-align: center;
    color: #888;
}
.unmatched-container .unmatched-content h1 span{
    color: #091a66;
    font-weight: 900;
}
.unmatched-container .unmatched-content > p{
    text-align: center;
    color: #d97d28;
}
.unmatched-content .unmatched-items{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #333;
    padding: 3% 0;
}
.unmatched-content .unmatched-items .unmatched-item{
    display: grid;
    gap: 10px;
}
.unmatched-content .unmatched-items .unmatched-item p i{
    color: #091a66;
    font-size: 3rem;
}
.trust-container {
    width: 100%;
    padding: 3% 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trust-container h1{
    color: #888;    
    text-align: center;
    padding: 2rem;
}
.trust-container h1 span{
    color: #d97d28;
    font-weight: 900;
}
.trust-container .trust-company{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.service-container{
    padding: 3% 0;
    /* background: linear-gradient(r); */
    background-image: url('/assets/images/service-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}
.service-container h1{
    padding: 3% 0;
    color: #ccc;
    text-shadow: 0 0 10px #091a66;
}
.service-container h1 span{
    color: #091a66;
}
.service-container .service-content{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
.service-container .service-content .service-item{
    padding: 7% 5%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: .78s ease;
    color: #ccc;
    cursor: pointer;
}
.service-container .service-content .service-item:hover{
    background:#493740;
}
.get-featured-container{
    padding: 3% 0;
    width: 100%;
    background-color:#493740;
}
.get-featured-container h1{
    padding: 3% 0;
    text-align: center;
    color: #ccc;
    font-size: 2rem;
}
.get-featured-container h1 span{
    font-weight: 900;
    color: #d97d28;
}
.get-featured-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.get-featured-content .get-featured-item{
    background-color: #d97d28;
    border: 10px solid #493740;
    padding: 5% 5%;
    display: grid;
    gap: 20px;
    border-radius: 20px;
    transition: .78s ease;
    cursor: pointer;
}
.get-featured-content .get-featured-item:hover{
    background-color: rgba(0, 0, 0, 0.4);
}
.get-featured-content .get-featured-item p{
    font-size: 1.5rem;
}
.get-featured-container h1 a{
    color: #d97d28;
}