@media screen and (max-width: 400px) {
    .home-container{
        padding: 25% 5%;
    }
    .home-container .home-text h4{
        font-size: .8rem;
    }
    .home-container .home-text h1{
        font-size: 1.2rem;
    }
    .home-container .home-text p{
        font-size: 1.2rem;
    }
    .home-container .home-text p a{
        font-weight: 400;
    }
    .unmatched-container .unmatched-content > h1{
        font-size: .8rem;
        width: 60%;
    }
    .unmatched-container .unmatched-content > p{
        font-size: .8rem;
    }
    .unmatched-content .unmatched-items{
        gap: 15px;
    }
    .trust-container .trust-company{
        gap: 8px;
    }
    .service-container h1{
        font-size: 1.2rem;
    }
    .get-featured-container h1{
        font-size: 1.2rem;
    }
    .get-featured-content .get-featured-item p{
        font-size: .8rem;
    }
    .influencer-content .influencer-text h1{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 768px) {
    .header-container{
        padding: 0 4%;
    }
    .header-container .logo{
        width: 120px;
    }
    .header-container .nav-menu, .header-container .get-start{
        display: none;
    }
    .mobile-nav-btn{
        display: flex;
    }
    .home-container{
        padding: 25% 0;
    }
    .home-content{
        width: 92%;
    }
    .home-container .home-text h4{
        font-size: 1rem;
    }
    .home-container .home-text h1{
        font-size: 1.5rem;
    }
    .home-container .home-text p{
        font-size: 1.5rem;
    }
    .home-container .home-text p a{
        font-weight: 400;
    }
    .home-container .home-img{
        display: none;
    }
    .showcase-home .showcase-grid{
        width: 90%;
        grid-template-columns: auto;
    }
    .unmatched-container .unmatched-content h1{
        font-size: 1.5rem;
        width: 60%;
        margin: 0 auto;
    }
    .unmatched-container .unmatched-content > p{
        font-size: .8rem;
    }
    .unmatched-content .unmatched-items{
        width: 92%;
        grid-template-columns: auto;
        gap: 20px;
    }
    .trust-container .trust-company{
        grid-template-columns: auto auto;
        gap: 10px;
    }
    .service-container h1{
        font-size: 1.5rem;
        width: 80%;
        margin: 0 auto;
    }
    .service-container p{
        width: 90%;
    }
    .service-container .service-content{
        grid-template-columns: auto;
        width: 90%;
    }
    .get-featured-container h1{
        font-size: 1.5rem;
        width: 80%;
        margin: 0 auto;
    }
    .get-featured-content{
        grid-template-columns: auto;
        gap: 20px;
    }
    .get-featured-content .get-featured-item p{
        font-size: .8rem;
    }
    .influencer-content{
        flex-direction: column-reverse;
    }
    .influencer-content .influencer-text{
        width: 100%;
    }
    .influencer-content .influencer-text h1{
        font-size: 1.5rem;
    }
    .review-container{
        flex-direction: column;
    }
    .review-container .review-content .review-text p{
        font-size: 1.2rem;
    }
    .footer-content{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-container .footer-content .about-footer{
        padding: 3% 0;
    }
    .footer-container .footer-content .marketing-service{
        padding: 3% 0;
    }
    .footer-container .footer-content .site-map{
        padding: 3% 0;
    }
    .footer-content .footer-contact{
        width: 100%;
        padding: 3% 0 ;
    }
    .crypto-hh-wrapper .crypto-home-content h1{
        font-size: 1.5rem;
    }
    .crypto-hh-wrapper .crypto-home-content{
        flex-direction: column-reverse;
    }
    .crypto-hh-wrapper .crypto-home-content .crypto-home-img{
        display: none;
    }
    .crypto-service-content > p{
        width: 90%;
    }
    .crypto-service-grid{
        grid-template-columns: auto;
    }
    .crypto-service-grid .crypto-service-item{
        padding: 5%;
    }
    .crypto-service-grid .crypto-service-item ul{
        padding: 1% 0;
    }
    .crypto-service-grid .crypto-service-item ul li{
        font-size: .8rem;
    }
    .crypto-faq-content{
        grid-template-columns: auto;
    }
    .contact-home-grid{
        grid-template-columns: auto;
    }
    .contact-form-content .contact-form-text{
        flex-basis: 100%;
    }
    .contact-form-content .contact-form-img{
        display: none;
    }
    .mobile-nav{
        height: 100vh;
        z-index: 73737;
        /* background-color: rgb(12, 12, 54); */
        background-color: #fff;
        position: fixed;
        width: 60%;
        left: -100%;
        transition: .33s ease;
        display: block;
        right: 0;
        top: 0;
        overflow-y: hidden;
        color: #eee;
    }
    .mobile-nav.active{
        left: 0;
    }
}